.appContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  scrollbar-width: thin;
}

.app {
  margin: 1em;
  padding: 1em;
  border: 1px solid #fcfffe;
  border-radius: 0.5em;
  background-color: #fbfcfc;
  box-shadow: 0 0 7px 0px rgba(0, 0, 0, 0.1);
  height: fit-content;
  overflow-x: hidden;
}

.calculator-form {
  display: table;
}
.calculator-row {
  display: table-row;
} 

.calculator-form label,
.calculator-form select,
.calculator-form input {
  display: table-cell;
  margin: 0.3em;
  padding: 0.3em;
}
.calculator-form select {
  border: 1px solid #e4e4e4;
  padding-bottom: 0.2em;
  padding-top: 0.2em;
  font-size: larger;
  box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.05);
}
.calculator-form input {
  border: 1px solid #e4e4e4;
  border-bottom: 2px solid #4ede79;
  font-size: larger;
  box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.05);
}
select:focus,
input:focus {
  background-color: #ecfff2;
  outline: none;
}

.status-message {
  background-color: #fff1e7;
  padding: 0.5em;
  border: 1px solid #e4bda1;
  border-radius: 0.5em;
  color: #ca641c;
  box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.05);
}
.hidden {
  display: none;
}

.change-list-box {
  color: #40ad61;
  background-color: #f3fdf6;
  border: 1px solid #d3ecda;
  border-radius: 0.5em;
  padding: 0.5em;
}

.change-list {
  margin-top: 0;
  margin-bottom: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top: none;
}
.change-list.item {
  list-style: none;
}
.change-list-header {
  margin-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.change-total {
  width: fit-content;
  margin: -1px 0 0 auto;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: 1px solid #f3fdf6;
}

@media(max-width:550px) {

  .app {
    margin:0;
    border-radius: 0;
    border: none;
    width: 100%;
    height: initial;
    box-shadow: none;
  }

  .calculator-form label, .calculator-form select, .calculator-form input {
    display: block;
    margin: 0.1em;
    padding: 0.1em;
  }

  .calculator-row {
    display: block;
    padding-top: 0.7em;
  }
  .calculator-row:first-child {
    padding-top:0
  }

  .change-list-container {
    padding-bottom: 0.3em;
  }

  .change-list-box, 
  .status-message {
    font-size: initial;
  }

}

/** scrollbar styling.
* Note this only works for Chrome. For other browsers, we 
* can only use scrollbar-width: thin (see .appContainer).
*/
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background:#aaa;
}